# Python
__pycache__/
*.pyc

# Logs & build
*.log
dist/
*.tsbuildinfo
foundry/main.json

# Node
node_modules/

# Local env / secrets
*.local
.venv/
rayfin/.env*
rayfin/.deployments.json

# OS / editor
.DS_Store
.idea/
